.footer-rectangle {

    background-color: #D9D9D9;
    height: 430px;
    border-radius: 25px;

    width: 1850px;
    margin-top: 100px;
    margin-left: -40px;
    margin-right: 30px;
    padding-left: 50px;
    padding-right: 5px;

}

#img-2 {
    padding-left: 20px;
}

#info {
    font-size: 34px;
    padding-top: 45px;
}

#footer-img {
    width: 125px;
    height: 125px;
}

.div-1 {

    font-size: 40px;
    padding-top: 82px;
    font-weight: bold;
    padding-right: 180px;
}


/* .div-2 {
    display: flex;
} */

.footer-rectangle {
    font-size: 22px;
    display: flex;
}

#div-2-trust {
    margin: 20px;
}

.div-3 {
    padding-left: 20px;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
    padding-top: 100px;
}

#div-3-ui {
    padding-top: 50px;
    margin-bottom: 50px;
    padding-left: 50px;
    font-size: 28px;
}

#div-2-ui {
    margin-top: -125px;
    /* margin-bottom: 90px; */
    padding-left: 6px;
    margin-left: -164px;
    margin-right: 30px;
    font-size: 28px;

}

#img-3 {
    padding-left: 15px;
    margin-left: -340px;
    padding-top: 38px;
}

#div-3-ui {
    display: flex;
    padding-right: 399px;
    margin-left: 12px;
    justify-content: center;
    align-items: center;
    margin-top: -45px;
    padding-left: 19px;
}



#img-2 {
    padding-left: -20px;
    margin-top: 80px;
}

#div-2-trust {
    display: flex;
    margin-top: 40px;

}

#content-ui {

    padding-top: 45px;

    padding-left: 30px;
    font-size: 28px;

}