.landing-page .mid-contianer {
    display: flex;
    margin-top: 100px;
}

.landing-page .right-mid-div {
    padding-left: 160px;
    font-size: 30px;
    font:semibold;
    padding-top: 60px;
    font-weight: lighter;
    margin-left: 30px;
    margin-right: 30px;

}


.landing-page h1 {
    padding-left: 100px;
}

.landing-page .left-mid-div {

    position: relative;
    border-color: palevioletred;
    margin-left: 50px;
}

.landing-page img {
    background-color: white;
    border-radius: 300px;
    /* height: 25; */
}

.landing-page #img-2 {
    display: flex;
    padding-right: 300px;
    margin-right: 300px;

}