
/* Name */
.Name{
  width: 412px;
  height: 74px;
  
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}

.Namebox{
  width: 565px;
  height: 56px;

  /* background: #D9D9D9; */
}


/* Phone no */
.Phoneno{
  width: 412px;
  height: 74px;

  /* font-family: 'Inter'; */
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}

.Phonenobox{
  width: 273px;
  height: 56px;

  /* background: #D9D9D9; */
}

/* Register no */
.Regno{
  width: 412px;
  height: 74px;
  
  /* font-family: 'Inter'; */
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  
  color: #000000;
}

.Regnobox{
  width: 261px;
  height: 56px;

  /* background: #D9D9D9; */
}

/* Address */
.Address{
  width: 412px;
  height: 74px;

  /* font-family: 'Inter'; */
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}

.Addressbox{
  width: 565px;
  height: 56px;

  /* background: #D9D9D9; */
}

/* Confirm Button */
.Confirmbtn{
  font-size: large;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  position: absolute;
  width: 219px;
  height: 55px;

  background: #68A6C8;
  border-radius: 50px;
}


/* ***************************************** */

/* Design style */
.Sourcetraceheading{
  position: absolute;
  width: 189px;
  height: 109px;

  /* font-family: 'Inter'; */
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;

  color: #000000;
}

.Projecttitle{
  position: absolute;
  width: 546px;
  height: 65px;

  /* font-family: 'Inter'; */
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}

/* Producer logo */

.Producer-logo{
  position: absolute;
  width: 581px;
  height: 548px;
}


/* ************************************************************************************** */
.warehousecard{
  position: absolute;
  width: 310px;
  height: 164px;

  background: lightsteelblue;
  border-radius: 10px;
}

.warehousename{
  /* position: absolute; */
  width: 228px;
  height: 38px;
  padding-top: 1rem;
  padding-left: 1rem;

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}

.details{
  width: 314px;
  height: 106px;
  padding-left: 1rem;
  
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}
/* Main body */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
